.Header {
  margin-bottom: $header-margin-bottom-960;
  margin-top: $header-margin-top-960;
}

.Header__Bar {
  background: $accent-1;
  box-shadow: 0px 0px 4px $accent-1;
  height: 2px;
  width: 100%;
}

.Header__Home {
  display: block;
  font-weight: $font-weight-bold;
  font-size: $font-size-large;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.Header__Home:hover {
  color: $color-text;
}

.Header__HomeContainer {
  border: 4px;
  border-color: $accent-3;
  border-style: solid;
  box-shadow: inset 0px 0px 4px $accent-3, 0px 0px 4px $accent-3;
  box-sizing: border-box;
  flex: 0 0 $aside-width-960;
  margin-right: $column-gap-960;
  position: relative;
}

.Header__Home--Active {
  pointer-events: none;
}

.Header__HomeHalo {
  aria-hidden: true;
  font-weight: $font-weight-bold;
  font-size: $font-size-large;
  opacity: 0.7;
  position: absolute;
  pointer-events: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  width: 100%;
}

.Header__HomeHalo--1 {
  color: $accent-2;
  left: 3px;
  z-index: $header-link-z-index-1;
}

.Header__HomeHalo--2 {
  color: $accent-3;
  left: -1.5px;
  z-index: $header-link-z-index-2;
}

.Header__Nav {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Header__NavLinkContainer {
  align-items: baseline;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.Header__NavLinkOuterContainer {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 $main-width-960;
  flex-direction: column;
}
