.Header {
  margin-bottom: $header-margin-bottom-large;
  margin-top: $header-margin-top-large;
  @media screen and (max-width: $break-small) {
    margin-bottom: $header-margin-bottom-small;
    margin-top: $header-margin-top-small;
  }
}

.Header__Bar {
  background: $accent-1;
  box-shadow: 0px 0px 4px $accent-1;
  height: $header-bar-height;
  margin-top: $header-bar-margin-top;
  width: 100%;
}

.Header__Home {
  display: block;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
}

.Header__Home:hover {
  color: $color-text;
}

.Header__HomeContainer {
  border: 4px;
  border-color: $accent-3;
  border-style: solid;
  box-shadow: inset 0px 0px 4px $accent-3, 0px 0px 4px $accent-3;
  box-sizing: border-box;
  flex: 0 1 $aside-width-large;
  margin-right: $column-gap-large;
  position: relative;

  @media screen and (min-width: $break-small) and (max-width: $break-large) {
    margin-left: $column-gap-large;
  }

  @media screen and (max-width: $break-small) {
    margin-right: 0;
  }
}

.Header__Home--Active {
  pointer-events: none;
}

.Header__HomeHalo {
  aria-hidden: true;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  opacity: 0.7;
  pointer-events: none;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  width: 100%;
}

.Header__HomeHalo--1 {
  color: $accent-2;
  left: 3px;
  z-index: $header-link-z-index-1;
}

.Header__HomeHalo--2 {
  color: $accent-3;
  left: -1.5px;
  z-index: $header-link-z-index-2;
}

.Header__Nav {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Header__NavLinkContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.Header__NavLinkOuterContainer {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 $main-width-large;
  flex-direction: column;
  margin-top: $header-navlink-margin-top-large;
}
