.Lantern {
  position: absolute;
  transform-origin: center center 0;
  transform: translate3d(0, 0, 0);
}

.Lantern__Paper {
  position: absolute;
  transform: translate3d(0, 0, 0);
}

.Lantern__Glow {
  position: absolute;
  transform: translate3d(0, 0, 0);
}
