$palette-white: #eeebe1;

$palette-yellow: #ffd551;
$palette-red: #d53b55;
$palette-blue: #bfbff5;

$palette-gradient-blue: #0e1839;
$palette-gradient-purple: #3a114c;

$color-background-primary: $palette-gradient-blue;
$color-background-secondary: $palette-gradient-purple;
$color-text: $palette-white;

$accent-1: $palette-yellow;
$accent-2: $palette-red;
$accent-3: $palette-blue;
