$grid-column-gap-960: 48px;
$aside-width-960: 192px;
$main-width-960: 512px;

$header-height-960: 172px;
$header-margin-960: 48px;

$section-padding-vertical: 16px;
$section-padding-horizontal: 24px;
$section-border: 1px;
