$column-gap-960: 48px;
$aside-width-960: 192px;
$main-width-960: 512px;

$header-margin-top-960: 64px;
$header-margin-bottom-960: 48px;

$section-padding-vertical: 16px;
$section-padding-horizontal: 24px;
$section-border: 1px;
