$font-family-text: 'Avenir Next', sans-serif;

$font-size-regular: 1.0rem;
$font-size-medium: 1.2em;
$font-size-large: 1.8em;

$font-weight-regular: 500;
$font-weight-demi-bold: 600;
$font-weight-bold: 700;
